:root {
  /* --shadow: 0 5px 10px #bbbaba; */
  --shadow: 0 1px 1px hsl(0deg 0% 0% / 0.055), 0 2px 2px hsl(0deg 0% 0% / 0.055),
    0 4px 4px hsl(0deg 0% 0% / 0.055), 0 8px 8px hsl(0deg 0% 0% / 0.055),
    0 16px 16px hsl(0deg 0% 0% / 0.055);

  --font-roboto: "Roboto", sans-serif;
  --font-smooch: "Smooch Sans", sans-serif;

  /* colors */
  --color-primary: #c000a1;
  --color-secondary: #f8e1f4;
  --color-white: #ffffff;
  --color-black: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  font-family: var(--font-roboto);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* tohle je zbytečné, sticky je mnohem efektivnější, viz .small */
  /* position: fixed; */
  width: 100%;
  /* height: 17vh; */
  height: 7rem;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  /* padding: 5px 5px; */

  transition: all 0.3s ease;
}

header.small {
  position: sticky;
  padding: 0px 0;
  /* font-size: 0.1rem; */
  width: 100%;
  /* height: 14vh; */
  height: 5rem;

  box-shadow: var(--shadow);
  z-index: 1000;

  overflow: hidden;
}

.MainLogo {
  margin-left: 2rem;
}
header.small .MainLogoImage {
  /* height: 40px; */
  /* margin-top: -1rem; */
  margin-bottom: -1.9rem;
}

nav ul {
  list-style-type: none;
  font-weight: 400;
  font-style: normal;
  /* margin: 0 5rem 0 0; */
  /* padding: 1rem; */
  display: flex;
  justify-content: flex-start;
  margin-right: 3rem;
  gap: 5rem;
  scroll-behavior: smooth;
}

nav ul li {
  gap: 5rem;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: inline-block;
  transition: transform 0.5s;
}

nav ul li a:hover {
  transform: scale(1.2);
  color: #c000a1;
}

.carousel-wrap {
  /* margin-top: 7rem; */
  /* klíč úspěchu je flex na samotném .carousel-wrapu -> texty, které jsou tam 2× vlastně seřadí do jedné liniea což povede k tomu, že neuvidíme přebliknutí, protože první .carousel se zařadí za druhý */
  display: flex;
  width: 100%;
  overflow: hidden;
  /* tohle je starší verze toho text-wrap co tam teď je, měřil jsem a bylo to GPU efektivnější */
  white-space: nowrap;
}

.carousel-wrap:hover .carousel {
  /* pro lepší UX po najetí myši zastavíme animaci */
  animation-play-state: paused;
}

.carousel {
  font-family: var(--font-smooch);
  font-size: 7vw; /* možná by tady stálo za to zkusit vw místo rem, ale závisí */
  font-weight: 600;
  text-transform: uppercase; /* doporučuji z písma udělat verzálky pomocí CSS, kvůli čtečkám a Googlu je lepší, když místo LOGOS je logos, protože by to mohli chápat jako název společnosti a podobné. */
  animation: movement 20s linear infinite;
}

.carousel span {
  margin: 1rem;
  padding: 2rem;
}

@keyframes movement {
  /* translate3D je v podstatě to samé jako translateX a Y a Z dohromady. Měřil jsem performance a bylo to pro tenhle projekt rychlejší než translateX. Je to drobnost, ale Google to bude řešit */
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.ornamental {
  color: #c000a1;
}

.mainPicWrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.MainPic {
  width: 100%;
  height: auto;
}

.mainPicOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, #cbc5ea, #c000a1, #313d5a);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  mix-blend-mode: color;
  opacity: 0.5; /* možná nemusí být */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 3rem;
  font-family: var(--font-smooch);
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-family: var(--font-smooch);
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 400;
  margin-left: 3rem;
}

main {
  /* width: 80%; */
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.text {
  /* margin: 3rem; */

  font-weight: 400;
  font-style: normal;
  flex-wrap: nowrap;
  font-size: 1.44rem;
  padding: 3rem;
}

.AboutMe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  /* padding: 3rem; */
  padding: 7rem 3rem;
  /* margin: -2rem; */
  gap: 3rem;
}

.AboutMeTexts .text {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  max-width: 40ex;
  line-height: 1.4;
  font-weight: 300;
}

.AboutMeTextsFirst {
  font-size: 2rem;
}

.ProfilePic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
  margin: -2rem;
  gap: 3rem;
  /* box-shadow: 0 5px 10px #bbbaba; */
}

.scrollToOffset {
  /* jen pro scrollovací offset */
  margin-top: -5rem;
  padding-top: 6rem;
}

.MyPortfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
  background-color: #f8e1f4;
}

.MyPortfolioHeader {
  font-family: var(--font-smooch);
  font-size: 3rem;
  font-weight: 600;
  margin-left: 3rem;
  width: 100%;
  margin-top: -0.75rem;
  margin-bottom: 0;
}

.MyPortfolioSubText {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.5;
}

.MobApp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  /* padding: 3rem; */
  padding: 7rem 3rem;
  /* margin: -2rem; */
  gap: 3rem;
}

/* .MobApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
  gap: 0rem;
} */

.MobAppTexts .text {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  max-width: 60ex;
  line-height: 1.4;
  font-weight: 300;
}

.MobAppTextFirst {
  font-size: 2rem;
}

.GymApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
  margin-left: 8rem;
  gap: 3rem;
  margin-bottom: -7rem;
  /* box-shadow: 0 5px 10px #bbbaba; */
}

.MusicLabTexts .text {
  padding: 0;
  margin-left: -3rem;
  margin-bottom: 1rem;
  max-width: 60ex;
  line-height: 1.4;
  font-weight: 300;
}

.MusicLabPic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
  margin: -1rem;
  gap: 3rem;
  /* box-shadow: 0 5px 10px #bbbaba; */
}
/* 
{
  margin-right: -2rem;
} */
.BussinesCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  /* padding: 3rem; */
  padding: 3rem 3rem;
  /* margin: -2rem; */
  gap: 3rem;
}

/* .BussinesCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
  padding: 5rem 5rem;
  margin: -2rem;
  gap: 3rem;
} */

.BussinesCardTexts .text {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  max-width: 40ex;
  line-height: 1.4;
  font-weight: 300;
}

.BussinesCardTextFirst {
  font-size: 2rem;
}

.Vizitka {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  /* width: 400px;
  height: auto; */
  padding: 3rem;
  margin: 2rem;
  gap: 3rem;
}

#image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  height: 400px;
  width: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#image.enlarged {
  transform: scale(1.5);
}

.E-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* padding: 3rem; */
  padding: 7rem 3rem;
  /* margin: -2rem; */
  gap: -3rem;
}

.E-shopTexts .text {
  padding: 0;
  margin-left: 3rem;
  margin-bottom: 1rem;
  max-width: 40ex;
  line-height: 1.4;
  font-weight: 300;
}

.E-shopTextFirst {
  font-size: 2rem;
}

.Website {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  flex-wrap: nowrap;
  width: 80%;
  padding: -3rem;
  gap: 3rem;
  box-shadow: var(--shadow);
  margin-bottom: 3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  /* height: 440px; */
  height: 25rem;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow: hidden;
}
.Contact {
  /* display: flex; */
  /* justify-content: flex-start; */
  display: grid;
  grid-template-columns: auto auto 1fr;

  padding: 2rem;
  padding-bottom: 0;

  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 0;
  gap: 3rem;
  width: 100%;
  max-width: 1440px;
}

.ContactLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.ContactHeader {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-roboto);
  text-transform: uppercase;
  font-weight: 200;
}

.Email {
  color: #ffffff;
  font-family: var(--font-smooch);
  font-optical-sizing: auto;
  font-size: 4rem;
  text-decoration: none;
  margin: 0;
}

.Email:hover {
  color: #c000a1;
}

.Phone {
  display: flex;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  font-family: var(--font-smooch);
  font-optical-sizing: auto;
  font-size: 7rem;
  margin-top: -1rem;
  text-decoration: none;
  font-weight: 100;
  animation: blinkingText 15s infinite;
  transition: color 0.3s ease;
}

.Phone:hover {
  /* stop animation */
  animation-play-state: paused;
  color: #c000a1 !important;
}

@keyframes blinkingText {
  0% {
    color: #ffffff;
  }
  90% {
    color: #ffffff;
  }
  91% {
    color: #c000a1;
  }
  92% {
    color: #ffffff;
  }
  93% {
    color: #c000a1;
  }
  94% {
    color: #ffffff;
  }
  100% {
    color: #ffffff;
  }
}

.Address {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: var(--font-smooch);
  font-optical-sizing: auto;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  gap: 0rem;
  margin-bottom: 2.5rem;
  font-weight: 200;
  /* margin-left: 3rem; */
}

.Address p {
  margin: 0;
}

.AddressSocials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.AddressSocials a {
  filter: saturate(0%);
}

.AddressSocials a:hover {
  filter: saturate(100%);
}

.Linkedin {
  display: inline-block;
  width: 2rem;
  height: auto;
  gap: 1rem;
}
.Instagram {
  display: inline-block;
  width: 2rem;
  height: auto;
}
.Facebook {
  display: inline-block;
  width: 2rem;
  height: auto;
}

.LogoContact {
  justify-self: flex-end;
  margin-bottom: -1rem;
}
