html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  box-shadow: 0 5px 10px #bbbaba;
  z-index: 1000;
  transition: all 0.3s ease;
}

header.small {
  padding: 10px 0;
  font-size: 0.5rem;
}

.MainLogo {
  margin-left: 3rem;
}
/* header .logo img {
  height: 40px;
} */

nav ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* margin: 0 5rem 0 0; */
  /* padding: 1rem; */
  display: flex;
  justify-content: flex-start;
  margin-right: 3rem;
  gap: 5rem;
  scroll-behavior: smooth;
}

nav ul li {
  gap: 5rem;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: inline-block;
  transition: transform 0.5s;
}

nav ul li a:hover {
  transform: scale(1.2);
  color: #c000a1;
}

body {
  /* písmo prosím nastavit jen jednou, nejefektivnější je to v body */
  font-family: "Smooch Sans", sans-serif;
}

.carousel-wrap {
  margin-top: 150px;
  /* klíč úspěchu je flex na samotném .carousel-wrapu -> texty, které jsou tam 2× vlastně seřadí do jedné liniea což povede k tomu, že neuvidíme přebliknutí, protože první .carousel se zařadí za druhý */
  display: flex;
  width: 100%;
  overflow: hidden;
  /* tohle je starší verze toho text-wrap co tam teď je, měřil jsem a bylo to GPU efektivnější */
  white-space: nowrap;
}

.carousel-wrap:hover .carousel {
  /* pro lepší UX po najetí myši zastavíme animaci */
  animation-play-state: paused;
}

.carousel {
  font-size: 7vw; /* možná by tady stálo za to zkusit vw místo rem, ale závisí */
  font-weight: 600;
  text-transform: uppercase; /* doporučuji z písma udělat verzálky pomocí CSS, kvůli čtečkám a Googlu je lepší, když místo LOGOS je logos, protože by to mohli chápat jako název společnosti a podobné. */
  animation: movement 10s linear infinite;
}

.carousel span {
  margin: 1rem;
  padding: 2rem;
}

@keyframes movement {
  /* translate3D je v podstatě to samé jako translateX a Y a Z dohromady. Měřil jsem performance a bylo to pro tenhle projekt rychlejší než translateX. Je to drobnost, ale Google to bude řešit */
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* pro účely testu */

.MainPic {
  width: 100%;
  height: auto;
  /* margin-top: 50px; */
}

/* img {width: 100%;height: auto;} */

/* .AboutMe {width: 100%;;
  display: flex;
justify-content: space-between;
  align-items: center;
}

.ProfilePic {
  width: 300px;
  height: auto;
  margin: 3rem;
}

.text {
  flex: 1;
} */
h1 {
  margin: 3rem;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 400;
  margin-left: 3rem;
}

main {
  width: 80%;
  margin: auto;
}

.text {
  /* margin: 3rem; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-wrap: nowrap;
  font-size: 1.44rem;
  gap: 3rem;
}

.AboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
  margin: -2rem;
  gap: 3rem;
}

.ProfilePic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
  margin: -2rem;
  gap: 3rem;
}

.MyPortfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #f8e1f4;
}

.MobApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem;
  gap: 3rem;
}

/* .GymApp {
  margin-left: 3rem;
  height: 600px;
  width: auto;
  margin: 3rem;
} */

/* .image-container {
  text-align: center;
  margin-top: 50px;
} */

#image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  height: 400px;
  width: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#image.enlarged {
  transform: scale(1.5);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 440px;
  top: 0;
  left: 0;
  background-color: #000000;
}
.Contact {
  display: flex;
  /* justify-content: flex-start; */
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 0;
  gap: 3rem;
}
.Email {
  color: #ffffff;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 4rem;
  text-decoration: none;
  padding: 3rem;
  margin: 0;
}
.Email:hover {
  color: #c000a1;
}

.Phone {
  display: flex;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 7rem;
  font-style: ;
  padding: 0 3rem;
}

.Address {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  gap: rem;
  margin-bottom: 4rem;
  /* margin-left: 3rem; */
}

.LogoContact {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-left: 3.5rem;
}
